*{
	text-align:center;
	font-family:calibri;
	background-color:#FBFBEF;
	direction: rtl;
}

.slideshow{
	max-width:455px;
	margin:0 auto;
	position:relative;
}

.mySlides{
	position:relative;
}

.picSlides{
	height:300px;
	width:455px;
}

p{
	width:70%;
	margin:auto;
}

.picDesc{
	position:absolute;
	left:0;
	bottom:0;
	font-size:18px;
	width:100%;
	color:#000;
	background-color:#f1f1f1;
}

.button{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	background-color:inherit;
	cursor:pointer;
	color:#000;
	font-size:18px;
	background-color:#f1f1f1;
}

.button:hover{color:#000;background-color:#ccc}
.left{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.right{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}